
body {
    background-color: #fff;
    color: rgba(67, 68, 85, 1); 
}

.list {
    list-style: none;
}

/* Вторинний колір  rgba(46, 47, 66, 1); */



/* Білий #FFFFFF */

/* Акцент #4D5AE5 */

/* Вторинний колір фона #F4F4FD */

.logo {
    color: #2E2F42;
}












